.navbar-light .navbar-nav .nav-link {
    background-color: #b5316a;
    color: white !important;
    border-radius: 7px !important;
    padding: 7px 25px !important;
    margin: 10px 40px !important;
    width: 120px;
    text-align: center;
}

.navbar.bg-light {
    background-color: #840c3f !important;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0px;
}

.form-inline {
    background-color: #840c3f;
    margin-left: 30px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(241, 234, 12) !important;
}

a.dropdown-toggle {
    color: white;
    font-size: 20px;
}

a.dropdown-toggle:hover {
    color: #c7bdbd;
}

.dropdown-menu {
    padding: 0px !important;
    min-width: 8rem !important;
}

.dropdown-menu.show {
    background-color: #a24963;
}

.dropdown-divider {
    margin: 0px !important;
    border-top: 1px solid #a07d8c !important;
}

.dropdown-item:hover {
    background-color: #b690b7 !important;
}

.dropdown-item {
    color: white !important;
}

.navbar-light button.navbar-toggler {
   border: 2px solid #dde0ea;
}

.navbar-toggler:focus, .navbar-toggler:hover {
    outline: none !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}