.MuiPaper-root.PlanTable-root-1 {
    background-color: #b4b4b5 !important;
}

.PlanTable-container-2 {
    max-height: 517px !important;
    height: 517px;
}

.MuiTableCell-stickyHeader {
    background-color: #bd859a !important;
    color: white !important;
    font-size: 17px !important;
    font-weight: 600 !important;
    border-bottom: none !important;
}

.MuiTableCell-body {
    color: rgba(0, 0, 0) !important;
    font-size: 16px !important;
    border-bottom: 1px solid rgb(148, 80, 80) !important;
}

.MuiTableCell-root.MuiTableCell-body button {
    width: 90% !important;
}

.PlanTable-container-2::-webkit-scrollbar {
    transform: translateX(-6px);
    box-shadow: inset 0 0 1px rgba(0,0,0,0.9);
    height: 12px;
    width: 12px;
}

.PlanTable-container-2::-webkit-scrollbar-track {
    background-color: #bd859a;
    border-radius: 6px;
}

.PlanTable-container-2::-webkit-scrollbar-thumb {
    border-radius: 6px 6px 0 0;
    background-color: rgb(121, 24, 24);
    box-shadow: inset 0 0 1px rgba(0,0,0,0.9);
}

@media only screen and (max-width: 768px) {
    .MuiTableCell-stickyHeader {
        font-size: 14px !important;
    }

    .MuiTableCell-body {
        font-size: 14px !important;
    }

    .PlanTable-container-2::-webkit-scrollbar {
        transform: translateX(-6px);
        box-shadow: inset 0 0 1px rgba(0,0,0,0.9);
        height: 5px;
        width: 5px;
    }
    
    .PlanTable-container-2::-webkit-scrollbar-track {
        background-color: #bd859a;
        border-radius: 6px;
    }
    
    .PlanTable-container-2::-webkit-scrollbar-thumb {
        border-radius: 6px 6px 0 0;
        background-color: rgb(121, 24, 24);
        box-shadow: inset 0 0 1px rgba(0,0,0,0.9);
    }
}