.main-page, .setting-page, .plan-page {
    height: 100vh;
    background-color: #e0e2e2;
    background-size: cover;
    padding-top: 85px;
}

.main-block {
    background-color: #910037;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    padding: 20px 20px;
    margin: 10px 0px;
}

.help-text{
    font-size:15px;
    font-weight: 500;
}

.help-block-info {
    font-size:13px;
    color:red;
    margin-left:4px;
}

@media only screen and (max-width: 768px) {
    .main-page{
        height: 100%;
    }
    .plan-page{
        height: 100%;
    }
}